*{
    margin: 0;
}
.container{
    width: 80%;
    margin: 0 auto;
}
.icon{
    width: 50px;
    height: 50px;
}
.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 1.3em;
}
.brand{
     font-weight: bolder;   
}
.content{
    background-color: lightskyblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 200px;
    font-size: 1.2em;
}
.tittle{
    display: flex;
    justify-content: center;
    font-size: 1.7em;
    margin: 40px 0;
}
.courses{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 1.3em;
}
.course-item{
    border-style:groove;
    height: 450px;
    width: 350px;
    display: flex;
    flex-direction: column;
}
.course-img{
    width: 100%;
    height: 270px;
}
.cart-info{
    display: flex;
}
.cart-info-qty ,.cart-info-price{
    margin-left: 80px;
}
.price{
    display: flex;
    justify-content: space-between;
}
.info{
    padding: 0 1.4em;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.carrito{
    display: flex;
    justify-content: center;
}
.carrito button{
    border: none;
    cursor: pointer;
    border-radius: 5px;
    color: white;
    width: 95%;
    padding: 10px;
    background-color: lightskyblue;
}

.cart-button {
    position: relative;
    display: inline-block;
}
.cart-dropdown {
    overflow-y: scroll;
    display: none;
    right: 0;
    padding: 20px;
    position: absolute;
    background-color:white;
    width: 400px;
    height: 400px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.cart-button:hover .cart-dropdown {
    display: block;
}
.add-course{
    display: flex;
    justify-content: space-between;
    margin: 30px 0;
}
.btnVaciarCarrito{
    margin-top: 20px;
}
.btnVaciarCarrito button{
    border-style: groove;
    padding: 10px 150px;
    cursor: pointer;
    background-color: white;
}
.btnRemoveStyle{
    padding: 0 20px;
    cursor: pointer;
    border: none;
    background-color: red;
    border-radius: 15px;
}

@media (max-width: 915px) {
    .container {
      width: 97%;
    }
    .menu{
        padding: 0 20px;
    }
}

@media (max-width: 500px) {

    .tittle{
        font-size: 1.4em;
    }
    }